
.masonry {
  margin-left: 3%; 
}

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.sm-masonry .item {
  width:  20px;
  height: 20px;
  float: left;
}


.masonry .item {
  width:  200px;
  height: 200px;
  float: left;
}

.item.w2 { width:  120px; }
.item.w3 { width:  180px; }
.item.w4 { width:  240px; }

.item.h2 { height: 100px; }
.item.h3 { height: 130px; }
.item.h4 { height: 180px; }
.item { background-size: 400px 400px; opacity: 0.7;}

.item.gigante {
  width: 400px;
  height: 400px;
  opacity: 1.0;
}

.item:hover {

  opacity: 1.0;

}

#grid-1 { background-image: url("/static/img/1.jpg"); }
#grid-2 { background-image: url("/static/img/2.jpg"); }
#grid-3 { background-image: url("/static/img/3.jpg"); }
#grid-4 { background-image: url("/static/img/4.jpg"); }
#grid-5 { background-image: url("/static/img/5.jpg"); }
#grid-6 { background-image: url("/static/img/6.jpg"); }
#grid-7 { background-image: url("/static/img/7.jpg"); }
#grid-8 { background-image: url("/static/img/8.jpg"); }
#grid-9 { background-image: url("/static/img/9.jpg"); }
#grid-10 { background-image: url("/static/img/10.jpg"); }
#grid-11 { background-image: url("/static/img/11.jpg"); }
#grid-12 { background-image: url("/static/img/12.jpg"); }
