{% include 'base_head.html' %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include 'nav.html' %}

<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Hello</h1>
                        <p class="intro-text">I'm a Full Stack Generalist, Photographer<br>and Emergency Responder.</p><br>
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
<!-- Technical div -->
    <div id="technical-section" class="container-fluid content-section text-center">
    <div id="technical">
       <div class="row technical-snippet">
            <h2>Technical</h2>
            <h6> Linux Development Operations - UI/UX Designer - Digital Multimedia</h6> <br><br>
            
            <div class="col-lg-4 skill ">
                <img class="icons" src="static/img/icons/index.png">   
                <h6>Expression</h6><br>
                  Javascript - Python - HTML5 - CSS3 - Bash - Arduino <br><br>
                  
            </div> 
            
            <div class="col-lg-4 skill"> 
                <img class="icons" src="static/img/icons/frame.png">        
                <h6>Construction</h6> <br> 
                  Django - Flask - Jquery - Bootstrap - Wordpress <br><br>
            </div> 
            
            <div class="col-lg-4 skill"> 
                <img class="icons" src="static/img/icons/paint.png">
                <h6>Manipulation</h6><br>
                    Photoshop - GIMP -  Protools - Ardour - Final Cut - Kdenlive <br><br>
            </div> 
        </div>
        
        <div class="row technical-snippet">
        
            <div class="col-lg-4 skill"> 
                <img class="icons" src="static/img/icons/triangle.png">
                <h6> Recollection</h6><br>
                     Postgres - MySQL - NoSQL <br><br>
           </div> 
           
            <div class="col-lg-4 skill"> 
                <img class="icons" src="static/img/icons/hammer.png"> 
                <h6>Implementation</h6><br>
                    Ansible - Chef - Apache - Hendrix - Nginix - Varnish - Rackspace <br><br>
           </div> 
           
            <div class="col-lg-4 skill"> 
                <img class="icons" src="static/img/icons/joystick.png"> 
                <h6>Control</h6><br>
                    Git - Subversion - Agile<br><br>
            </div>    
        </div>
      </div>
    </div>
    
<!-- Projects section -->
    <div id="projects-section" class="container-fluid content-section text-center">
        <div id="projects" class="container-fluid row">
        <h2 style="color: #5980ff;">Projects</h2>
        
           <h6> Slashroot Technology Collective, New Paltz, NY </h6>
                Student / Member / Instructor / Contributor <br><br>
            
           <div class="col-lg-6 col-lg-height">  
               
               
               <ul style="list-style-type:none; text-align:right;"> 
               <h6> Clients </h6><br>
                 <li class="proj-list" id="proj-5"><a href="#">This Webpage</a></li>
                 <li class="proj-list" id="proj-1"><a href="http://www.kraeher.com">Architecht R.Kraeher</a></li>
                 <li class="proj-list" id="proj-3"><a href="http://www.almostfamous.com">Almost Famous</a></li>
                 <li class="proj-list" id="proj-2"><a href="http://www.carbonads.net">Carbon Ads</a></li>
                 <li class="proj-list" id="proj-4"><a href="http://www.democracycoffee.com">Democracy Coffee</a></li>
              </ul> 
          </div>
          
           <div class="col-lg-6 col-lg-height"> 
               
                 <ul style="list-style:none; text-align:left; padding-left:0px;">
                 <h6> Open Source</h6><br>         
                    <li class="proj-list" id="proj-6"><a href="https://github.com/SlashRoot/WHAT">The W.H.A.T.</a></li>
                    <li class="proj-list" id="proj-6"><a href="https://github.com/SlashRoot/cirque">Cirque</a></li>
                    <li class="proj-list" id="proj-7"><a href="https://github.com/kprasch/dispatch.py">Dispatch.py</a></li>
                    <li class="proj-list" id="proj-6"><a href="https://github.com/hangarunderground/hendrix/blob/master">Hendrix</a></li>
                  </ul>
                  <br><br>
            </div>
       
        <div id="project-list">    
        <ul>
           <li> <img class="proj-list" id="pthumb-1" src="/static/img/icons/ark.png"><a href="http://www.kraeher.com"></a></li>
           <li> <img class="proj-list" id="pthumb-2" src="/static/img/icons/carbonads.png"><a href="http://www.carbonads.net"></a></li>
           <li> <img class="proj-list" id="pthumb-3" src="/static/img/icons/almostf.png"><a href="http://www.almostfamous.com"></a></li>
           <li> <img class="proj-list" id="pthumb-4" src="/static/img/icons/dcoffee.png"><a href="http://www.democracycoffee.com"></a></li>
           <li> <img class="proj-list" id="pthumb-7" src="/static/img/icons/chart.png"><a href="https://github.com/kprasch/dispatch.py"></a></li> 
           <li> <img class="proj-list" id="pthumb-5" src="/static/img/icons/this.png"><a href="#"></a></li> 
           <li> <img class="proj-list" id="pthumb-6" src="/static/img/icons/roothub.png"><a href="https://github.com/SlashRoot/WHAT"></a></li>
        </ul>
        </div>
       </div>
    </div>
    
<!-- Training section -->
    <div id="training-section" class="container-fluid content-section text-center">
    
        <video loop="1" autoplay="1" id="bg-video" controls="true" src="/static/img/cropped-fire-sm.mp4"></video>
        <div class="container">
        <div class="row">
            <h2></h2>
            <div class="col-lg-7"><p></p></div>
            <div class="col-lg-5 qual-list">
                <h6 style="color:#000; margin-top:35px;"> New Paltz Fire Department, New Paltz, NY </h6>
                  3rd Lieutenant / Firefighter / EMT<br><br>
                
                <h6 style="color:#000;"> Training Certifications </h6><br>
                 <ul>   
                    <li>FEMA: ICS 5, 100, 200, 700, 800</li>
                    
                    <li>NWCGS S-190 & S-190</li>
                    <li>Firefighter I & II</li>
                    <li>EMT-B</li>
                    <li>Firefighter Survival</li>
                    <li>Truck Company Operations</li>
                    <li>Firefighter Search and Assist Team</li>
                    <li>Accident Victim Extrication Training</li>
                    <li>Fire Behavior and Arson Awareness</li>
                    <li>Rope Rescue Technician – Basic</li>
                    <li>Surface Ice Rescue Level 1 Fly Team Technician</li>
                    <li>Basic Structural Collapse Awareness</li>
                    <li>Emergency Vehicle Operations Course</li>
                    <li>Apparatus Operator - Pump Operations</li>
                </ul>   
           </div> 
        </div>  
        </div>
    </div>
           
<!-- Education div -->       
    <div id="education-section" class="container-fluid content-section text-center">
        <div id="educational"  class="row">
             <h2>Academic</h2>
             
             <div class="col-lg-4">
                <h6> Paramedicine<br><br> </h6>
                
                <img class="icons" src="/static/img/icons/blue-cross.png">
                <ul>
                    <li>Introduction to Paramedic</li>
                    <li>Medical Terminology</li>
                    <li>Emergency Medical Operations for Paramedic</li>
                    <li>NY Emergency Medical Technician Basic</li>
                    <li>St. Francis - Level I Trauma E.R. Clinical Shadow</li>
                </ul>
            </div>
            
             <div class="col-lg-4">  
                <h6> Fire Science<br><br>  </h6>
                <img class="icons" src="/static/img/icons/fire-cross.png">
                <ul>
                    <li>Introduction to Fire Science</li>
                    <li>Fire Combustion and Behavior</li>
                    <li>Hydraulics and Water Supply</li>
                    <li>Introduction to Fire Protection</li>
                    <li>Introduction to Fire Prevention</li>
                    <li>Strategy and Tactics</li>
                </ul>
             </div>  
              
            <div class="col-lg-4">
                <h6>Interactive Media Design <br><br> </h6>
                
                <img class="icons" src="/static/img/icons/rgb.png">
                <ul>
                <li>Color Theorey</li>
                <li>Layout and Deign</li>
                <li>Video for Multimedia</li>
                <li>Audio for Multimedia</li>
                <li>Digital Photography</li>
                <li>100.1 WDST Graphic Design Intern</li>
                <li>LRS Studios Audio Engineering Intern</li>
                </ul>
            </div>
             
       </div>
    </div>
    
<!-- Photo div -->
    <div id="photo-section" class="content-section text-center">
        <div id="photo">
            <div class="container">
                <div id="photo-container" class="col-lg-8 col-lg-offset-2">
                    <div style="height:230px;"></div>
                </div>
            </div>
        </div>
    </div>
    
<!-- Instagram div -->
    <div id="instagram" class="container-fluid content-section text-center">
        <div class="row">

                <div id="container" class="masonry">
               
                
                {% for image in instagram_photo_urls %}
                
                      {% if forloop.first %}
                     <a href="/gallery"> <div id="block-port" class="item"><span id="block-port-text">fullscreen gallery</span></div></a>
                      {% endif %}
                      
                      {% if forloop.counter|divisibleby:4  %}
                        <div class="item gigante" style="background-image: url('{{ image }}');"></div>
                      {% else %}
                      
                      <div class="item" style="background-image: url('{{ image }}');"></div>
                      {% endif %}
                {% endfor %}
                
                </div>        
       </div>
        
        <script>
            docReady( function() {
            
              var container = document.querySelector('.masonry');
              var msnry = new Masonry( container, {
                columnWidth: 200
              });
            
              eventie.bind( container, 'click', function( event ) {
                // don't proceed if item was not clicked on
                if ( !classie.has( event.target, 'item' ) ) {
                  return;
                }
                // change size of item via class
                classie.toggle( event.target, 'gigante' );
                // trigger layout
                msnry.layout();
              });
            
            });  
        </script>       
    </div>
<!-- Contact div -->
    <div id="contact-section" class="content-section text-center">
        <div class="contact">
        <h2></h2>
            <div class="container">
            
                <div class="col-lg-3">
                    <div><a href="http://github.com/kprasch" class="contact-bubbles" id="bubble-1"></a></div>
                     <p>KPrasch / Slashroot</p>
                </div>
                
                <div class="col-lg-3">
                    <div><a href="http://kprasch.tumblr.com" class="contact-bubbles" id="bubble-2"></a></div>
                    <p>Photo Blog</p>
                </div>
                    
                <div class="col-lg-3">
                <div><a href="mailto:kieranprasch@gmail.com" class="contact-bubbles" id="bubble-3"></a></div>
                <p>kieranprasch@gmail.com</p>
                </div>    
                    
                <div class="col-lg-3">
                <div><a href="http://www.facebook.com/kieran.prasch" class="contact-bubbles" id="bubble-4"></a></div>
                <p>Social</p>
                </div>
                <div class="row">
                   <h4 style="padding: 25px; text-align:center color:black;"> I'm Currently in the San Francisco, Bay Area </h4>  
                </div>
            </div>
        </div>
    </div>
    
    
<!-- Map div -->
    <div id="map"></div>
    
<!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 2014 - KPrasch</p>
        </div>
    </footer>
    
<!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    
<!-- Bootstrap Core JavaScript -->
    
    
<!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm6lCUbZnMZMoTXIzFJ27ngW7h4k4PjI4"></script>
       
<!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>
    

</body>
</html>
